#app-content {
    height: 100%;
    padding: 5px;
}

#app-header {
    border-bottom: 1px solid #3F51B5;
    color: #3F51B5;
}

#app-center {
    padding-top: 10px;
    padding-left: 10px;
}

#app-footer { 
 text-align: center;
} 

#title-text {
    font-size: 30px;
    color: white;
}

