<h1>Моя корзина</h1>


<ng-container *ngIf="!isAuth">
  <div style="text-align: center;">
    <h2>Вам необходимо авторизоваться</h2>
    <button  mat-raised-button (click)="signInWithGoogle()"  color="primary">Google</button>
  </div>
</ng-container>

<ng-container *ngIf="isAuth && basket.length > 0">
  <div style="text-align: center;">
    <button  mat-raised-button (click)="submitBasket()"  color="accent">
      Отправить заказ
    </button>
  </div>
</ng-container>

<div id="app-center"  
fxLayout="row wrap" 
fxLayoutGap="10px" 
fxLayoutAlign="center start">

<mat-card class="example-card" *ngFor="let product of basket" >
  <mat-card-header style="height: 100px;">
    <div mat-card-avatar class="example-header-image" style="width: 90px;">
      <img src="{{ product.get_small_image_url }}" />
    </div>
    <mat-card-title>{{ product.name  }}</mat-card-title>
    <mat-card-subtitle>{{ product.category.name  }}</mat-card-subtitle>
    <mat-card-subtitle>{{ product.subcategory.name  }}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    
  </mat-card-content>
  <mat-card-actions>
    <button (click)="delFromBasket(product.id)" mat-button>Удалить из корзины</button>
    
  </mat-card-actions>
</mat-card>

</div>

