.phone-form {
    background: white;
    border-radius: 5px;
    color: black;
    padding: 10px;
}

#app-center {
    padding-top: 10px;
    padding-left: 10px;
}

.example-card {
    margin-top: 10px;
    height: 145px;
}

mat-card-title {
    width: 100px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    font-size: 14px !important;
}

mat-card-subtitle {
    width: 100px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.item {
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}
