<h1>Моя корзина</h1>

<div class="phone-form">

  <ng-container *ngIf="basket.length > 0">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
      
    


        <mat-form-field appearance="outline">
            <mat-label>Телефон для связи</mat-label>
            <input matInput [(ngModel)]="phone" name="phone" required />
        </mat-form-field>
        

      <button  mat-raised-button (click)="submitBasket()"  color="accent">
        Отправить заказ
      </button>
    </div>
  </ng-container>
</div>


<div fxLayout="column" fxLayoutGap="10px">

    <div
      *ngFor="let product of basket"
      fxLayout="row"
      fxLayoutGap="10px"
      class="item" 
    >
     <div> 
      <img src="{{ product.get_small_image_url }}" />
    </div>

    <div  fxFlex="50%" fxFlexFill>
      <p>{{ product.name }}</p>
      <p>{{ product.price }} грн.</p>
    </div>

    <div>

      <p>{{ product.ammount }} (шт\кг)</p>
      <p>
        <button (click)="ammountUp(product.id)" mat-button>
          <mat-icon >arrow_upward</mat-icon>
        </button>
    
        <button (click)="ammountDown(product.id)" mat-button>
          <mat-icon >arrow_downward</mat-icon>
        </button>        
      </p>
    </div>
    <div>
      <button (click)="delete(product.id)" mat-button>
        <mat-icon >delete</mat-icon>
      </button>  
    </div>
  </div>
</div>

