<h2>Уведомления</h2>


<div fxLayout="column" fxLayoutGap="10px">
    <div
        *ngFor="let item of notifications"
        fxLayout="row"
        fxLayoutGap="10px"
        class="item" 
        >

        

        <div   fxFlex="50%" fxFlexFill> 
            <img  [src]="item.product.get_small_image_url" />
            <p>Телефон: {{ item.phone }} </p>
        </div>


       

        <p> {{ item.product.name }} </p>

        <p> Количество: {{ item.ammount }} (шт/кг)</p>

    </div>

</div>
